/* ./styles/variables.css */

@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

:root {
  /* Brand colors */
  --brand-primary: #869D96;
  --brand-primary--inverted: #ffffff;
  --brand-secondary: #869D96;
  --brand-secondary--inverted: #525B76;

   /* Typography */
   --font-family-sans-serif: 'Nunito';
   --font-size-base: 18px;
   --text-color: var(--brand-secondary--inverted);

   /* Main Navigation */
  --main-navigation-color: #c9e9d7;
  --main-navigation-color--inverted: #525f5b;
}